# Node.js
node_modules/
dist/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
prisma/dev.db
prisma/.DS_Store

# Env files
.env
.env.*

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Ignorar solo /backend/dist
/backend/dist/
